<div class="signUpWrapper">
<h2 class="signUp"> Sign Up </h2>
</div>

<div class="signupDiv">

  <div class="signupInnerDiv">

    <% if (typeof feedbackMessage !== 'undefined') { %>
    <p class="error-message"> <%= feedbackMessage %> </p>
  <% } %>



    <form id="form" method="post" action="/signup">

      <% if (typeof feedbackMessage !== 'undefined') { %>
        <p class="error-message"> <%= feedbackMessage %> </p>
      <% } %>

      <div class="form-group">
        <label for="username"> Username </label>
        <input  id="username" name="username" type="text"
            placeholder="joe" class="form-control">
        <br>
      </div>

      <div class="form-group">
        <label for="email"> Email </label>
        <input  id="email" name="email" type="email"
            placeholder="ironhack@building.co" class="form-control">
        <br>
      </div>

      <div class="form-group">
        <label for="password"> Password </label>
        <input  id="password" name="password" type="password"
            placeholder="******" class="form-control">
        <br>
      </div>

      <div class="form-group">
        <label for="instrument"> Instrument </label>
        <input  id="instrument" name="instrument" type="text"
            placeholder="piano" class="form-control">
        <br>
      </div>

      <button class="btn btn-default"> Sign Up </button>

    </form>

  </div>


</div>
