<div class="pianistsWrapper">
<h2 class="pianists"> Pianists </h2>
</div>

<div class="list-group">
  <% listOfResults.forEach(user => { %>
    <div class="list-group-item">
      <h3> <%= user.username %> </h3>

      <img src="<%=user.prof_pic%>" class="prof_pic">
      <br>

      <p> Email: <%= user.email %> </p>

    </div>
  <% }); %>
</div>
