<div class="byInstrumentsWrapper">
<h2 class="byInstruments"> Search For Users by Instrument </h2>
</div>

<div class="searchDiv">

  <div class="searchInnerDiv">

    <form action="/users/search-results" method="get">

        <div class="form-group">
          <label for="input"> Search </label>
          <input  id="input" type="search" name="instrument"
           placeholder="piano" class="form-control">
         </div>

      <button class="btn btn-default"> Search for Users </button>

    </form>

  </div>

</div>
