<h2> Log In </h2>

<form id="form" method="post" action="/login">

  <label for="username"> Username </label>
  <input  id="username" name="username" type="text"
      placeholder="joe">
  <br>

  <label for="password"> Password </label>
  <input  id="password" name="password" type="password"
      placeholder="******">
  <br>

  <button> Log In </button>

</form>
