<div class="titleWrapper">
<h1 class="title"> Myccompanist </h1>
</div>

<!--<p class="center">Welcome to app</p>-->

<!--<a href="/signup"> Sign Up </a>
<br>

<a href="/login"> Log In </a>
<br>

<a href="/logout"> Log Out </a>
<br>

<a href="/users"> All Users </a>
<br>

<a href="/users/pianists"> All Pianists </a>
<br>

<a href="/users/instrumentalists"> All instrumentalists </a>
<br>

<a href="/users/search"> Search by Instrument </a>
<br>-->
