<h2> Create Event </h2>

<form  action="/events/post-event" method="post">

    <label for="title"> Title </label>
    <input  id-"title" type="text" name="title">
    <br>

    <label    for="content"> Event Description </label>
    <textarea  id-"content" type="text" name="content"></textarea>
    <br>

    <label for="date"> Date </label>
    <input  id-"date" type="date" name="date">
    <br>

    <label for="time"> Time </label>
    <input  id-"time" type="time" name="time">
    <br>

    <label for="location"> Location </label>
    <input  id-"location" type="text" name="location">
    <br>

    <label    for="instruments"> Required Instruments </label>
    <textarea  id="instruments" type="text" name="instruments"></textarea>

    <button> Create Event </button>

</form>
