<div class="otherEvents"><span class="otherEvSpan">Message</span></div>

<div class="contact">

  <div class="contactInner">

  <form action="/user/<%=id%>/send-message" method="post">

    <div class="form-group">
      <label for="subject"> Subject </label>
      <input  id="subject" type="text" name="subject" class="form-control">
      <br>
    </div>

    <div class="form-group">
      <label   for="content"> Message </label>
      <textarea id="content" name="content" class="form-control"></textarea>
    </div>

    <button class="btn btn-default"> Send Message </button>

  </form>

  </div>

</div>
