<h2>Message</h2>

<form action="/user/<%=id%>/send-message" method="post">

  <label for="subject"> Subject </label>
  <input  id="subject" type="text" name="subject">
  <br>

  <label   for="content"> Message </label>
  <textarea id="content" name="content"></textarea>

  <button class="btn btn-default"> Send Message </button>

</form>
